<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebManApplicationCore</title>
</head>
<body>
    <header>
        WebManApplicationCore
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        &copy; 2021 - WebManApplicationCore
    </footer>
</body>
</html>
